.home-banner {
  position: relative;
  padding: 0;
  margin: 0;
}
.home-banner img {
  display: block;
  max-width: 100%;
  height: auto;
}
.home-banner:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.home-text {
  display: block;
  position: absolute;
  width: 50%;
  color: #fff;
  left: 0;
  top: 15%;
  padding: 1em;
  font-weight: 700;
  z-index: 2;
}

.number-block:hover {
  border: 5px solid #29405B !important;
  background-color: white !important;
  color: #29405B;
}