.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.green-button {
  background-color: #3BD186 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  outline: none !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.blue-button {
  background-color: #29405B !important;
  font-size: 15px !important;
  outline: none !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.blue-button:hover {
  border: 2px solid white !important;
}

.green-button:hover {
  border: 2px solid white !important;
}
